.fruits{
    border: 2px solid deeppink;
    text-align: center;
    padding: 15px;
    background-color: grey;
    margin: 15px;
    font-style: italic;
}
.FRUITS{
    border: 4px darkgoldenrod;
    padding: 15px;
    margin: 15px;
    background-color: palegoldenrod;
    font-style: italic;
    text-align: center;
}
.cars{
    border: 3px aqua;
    padding:15px;
    margin: 15px;
    background-color: aqua;
    font-weight: bold;
    font-style: italic;
    text-align: center;

}
#Restaurants{
    text-align: center;
    padding: 15px;
    margin: 15px;
    background-color: grey;
    font-style: italic;
}
#Real-estate{
    text-align: center;
    padding: 15px;
    margin: 15px;
    background-color: lightgrey;
    font-style: italic;
}
#Vegetables{
    text-align: center;
    padding: 15px;
    margin: 15px;
    background-color: lightgrey;
    font-style: italic;
}
h2{
    text-align: center;
    background-color: aqua;
    font-style: italic;
}
form{
    padding: 15px;
    margin: 15px;
    border-spacing: 15px;
    border: solid aqua;
    background-color: grey;
    text-align: center;
    border-collapse: collapse;
}
label{
    font-style: italic;
    text-align: center;
    padding: 10px;
}
input{
    text-align: center;
    font-style: italic;
    border: 2px solid deeppink;
    background-color: lightgrey;
    padding: 4px;
    border-collapse: collapse;
    width: 25%;
    height: 10%;
}